In [14]:
import pandas as pd
import os

In [15]:

df = pd.read_csv("test.csv")
# 刪除所有 NaN 的記錄
df1 = df.dropna()
df1

     A    B    C    D
2  0.7  0.3  0.8  0.9

In [27]:
df.to_html("ch13-3-1b-01.html")

In [28]:
df2 = df.dropna(how="any")
df2

     A    B    C    D
2  0.7  0.3  0.8  0.9

In [31]:
df2.to_html("ch13-3-1b-02.html")

In [32]:
df3 = df.dropna(how="all")
df3

     A    B    C    D
0  0.5  0.9  0.4  NaN
1  0.8  0.6  NaN  NaN
2  0.7  0.3  0.8  0.9
3  0.8  0.3  NaN  0.2
4  0.9  NaN  0.7  0.3
5  0.2  0.7  0.6  NaN

In [33]:
df3.to_html("ch13-3-1b-03.html")

In [18]:
df4 = df.dropna(subset=["B", "C"])
df4

     A    B    C    D
0  0.5  0.9  0.4  NaN
2  0.7  0.3  0.8  0.9
5  0.2  0.7  0.6  NaN

In [19]:
df4.to_html("ch13-3-1b-04.html")