In [3]:
import pandas as pd
import os

df = pd.read_csv("test2.csv")
df

     A    B    C    D
0  0.7  0.3  0.8  0.9
1  0.8  0.6  0.4  0.8
2  0.7  0.3  0.8  0.9
3  0.8  0.3  0.5  0.2
4  0.9  0.3  0.7  0.3
5  0.7  0.3  0.8  0.9

In [4]:
df2 = df.drop_duplicates("B")
df2

     A    B    C    D
0  0.7  0.3  0.8  0.9
1  0.8  0.6  0.4  0.8

In [5]:
df2 = df.drop_duplicates("B", keep="last")
df2

     A    B    C    D
1  0.8  0.6  0.4  0.8
5  0.7  0.3  0.8  0.9

In [4]:
df3 = df.drop_duplicates("B", keep=False)
df3

     A    B    C    D
1  0.8  0.6  0.4  0.8